Source: vplants-plantgl
Maintainer: Christophe Pradal <christophe.pradal@cirad.fr>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3~), python-setuptools (>= 0.6b3), python-dev, debhelper (>= 7),  python-openalea.deploy, python-openalea.sconsx, libqt4-dev, libqt4-opengl-dev, libcgal-dev, libboost-python-dev, bison, flex, libqhull-dev, libreadline-dev, pkg-config, freeglut3-dev, libann-dev, liblapack-dev, libblas-dev, libmpfr-dev


Package: python-vplants.plantgl
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Description: PlantGL package for OpenAlea and VPlants.
 Plant Geometric Library is a powerfull library to create and display vegetal 3D scene.
 It provides a scene graph, a set of geometric objects such as primitives, 
 mesh, nurbs, and specific objects (e.g. swung, asymetric hulls) used to 
 represent plants. A 3D viewer is also provided.
